body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

button {
  margin: 5px;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #e65c00;
}

#productos button {
  display: inline-block;
  margin: 10px;
}

#pedido {
  list-style: none;
  padding: 0;
}
